 

 
<div class="container" style="background-color: white">
  <div class="panel-heading">
   
    <div class="row">
      <div class="col-sm">

      </div>

      <div class="col-sm">

        <div class="redtext"  *ngIf="notEnough">
          Not enough Credit
        </div>
     
        <div align="center">
          <mat-spinner *ngIf="showSpinner" [color]="'warn'" [mode]="'indeterminate'" diameter="30"></mat-spinner>
        </div>


        <label for="amount" style="color: lightgreen">Amount</label>
        <br />

        <span class="transp">$</span>
        <input [(ngModel)]="amount"
               name="amount"
               type="number"
               step="0.01"
               id="amount"
               required
               idfAutofocus
               [ngModelOptions]="{standalone: true}">



        <div class="text-right">
          <button type="submit" class="transp" (click)="submitfromCredit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
  </div> 
  </div>



